body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  color: rgb(14, 24, 15);
  font-size: 18px;
}


header{
    background-color: rgb(248, 244, 239);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.olivae-logo {
    height: 150px;
    width: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

li {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(14, 24, 15);
}


#hero{
    background-color: rgb(248, 244, 239);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

h1{
    font-size: 48px;
    max-width: 600px;
}

.hero-mediterranean{
    height: 400px;
    width: auto;
}

.button-hero{
    margin-top: 60px;
    font-size: 18px;
    border-radius: 8px;
    color: rgb(248, 244, 239);
    background-color: rgb(14, 24, 15);
    padding: 5px;
    border-color: rgb(14, 24, 15);
}


.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.feature {
  max-width: 300px;
}

.feature-logo {
    height: 200px;
    width: auto;
}

h2{
    text-align: center;
    font-size: 34px;
    padding: 10px;
    margin-top: 80px;
}


#testimonial{
  background-color: rgb(244, 245, 242);
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-top: 80px;
}

blockquote{
  max-width: 1200px;
  padding-left: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
}


.login{
  display: flex;
  background-color: rgb(14, 24, 15);
  color: white;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 50px;
  gap: 50px;
  margin: 0 auto;
  margin-top: 80px;
}

.button-login{
  background-color: rgb(14, 24, 15);
  color: white;
  border-color: white;
  border-radius: 8px;
  height: 30px;
  padding: 15px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: rgb(248, 244, 239);
  padding-left: 100px;
  padding-right: 100px;
  color: rgb(14, 24, 15);
  text-align: center;
  margin-top: 50px;
  padding: 5px;
}